{% extends 'base.html' %}
{% block title %}Add iris to database{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block container %}
    {{ super() }}
    <div id="add_form">
        <form action="/add" method="post">
            <div class="row mb-3">
                <div class="col-3">
                    <label>
                        <input type="text" class="form-control" name="sepal_length" placeholder="Sepal Length">
                    </label>
                </div>
                <div class="col-3">
                    <label>
                        <input type="text" class="form-control" name="sepal_width" placeholder="Sepal Width">
                    </label>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3">
                    <label>
                        <input type="text" class="form-control" name="petal_length" placeholder="Petal Length">
                    </label>
                </div>
                <div class="col-3">
                    <label>
                        <input type="text" class="form-control" name="petal_width" placeholder="Petal Width">
                    </label>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3">
                    <label>
                        <select class="form-select" name="species_id">
                            <option value="0">Setosa</option>
                            <option value="1">Versicolor</option>
                            <option value="2">Virginica</option>
                        </select>
                    </label>
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-primary btn-lg">Add</button>
                </div>
            </div>
        </form>
        <a href="{{ url_for('table.home_page') }}" class="btn btn-secondary btn-lg">Back to Main page</a>
    </div>
{% endblock %}