{% extends 'base.html' %}
{% block title %}Predict iris species{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block container %}
    {{ super() }}
    <form action="/predict" method="post">
        <div class="row mb-3">
            <div class="col-3">
                <label>
                    <input type="text" class="form-control" name="sepal_length" placeholder="Sepal Length">
                </label>
            </div>
            <div class="col-3">
                <label>
                    <input type="text" class="form-control" name="sepal_width" placeholder="Sepal Width">
                </label>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-3">
                <label>
                    <input type="text" class="form-control" name="petal_length" placeholder="Petal Length">
                </label>
            </div>
            <div class="col-3">
                <label>
                    <input type="text" class="form-control" name="petal_width" placeholder="Petal Width">
                </label>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-3">
                <button type="submit" class="btn btn-primary btn-lg">Predict</button>
            </div>
        </div>
    </form>
    <a href="{{ url_for('table.home_page') }}" class="btn btn-secondary btn-lg">Back to Main page</a>
    <br>
    <div class="row mt-5">
        <div class="col-3">
            <h3>Result</h3>
            <p>{{ result }}</p>
        </div>
    </div>
{% endblock %}