<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Iris dataset</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
              rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
              crossorigin="anonymous">
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <style>
            td, th {
                vertical-align: middle !important;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <a href="{{ url_for('add_form.home') }}" class="btn btn-primary btn-lg">Add Iris</a>
            <a href="{{ url_for('predict.home') }}" class="btn btn-dark btn-lg">Predict iris species</a>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Sepal length (cm)</th>
                                    <th>Sepal width (cm)</th>
                                    <th>Petal length (cm)</th>
                                    <th>Petal width (cm)</th>
                                    <th>Species</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for el in iris %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ el.sepal_length }}</td>
                                        <td>{{ el.sepal_width }}</td>
                                        <td>{{ el.petal_length }}</td>
                                        <td>{{ el.petal_width }}</td>
                                        <td>{{ el.species_id }}</td>
                                        <td>
                                            <form action="{{ url_for('table.delete', record_id=el.id) }}" method="post">
                                                <button type="submit" class="btn btn-danger">X</button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
                    crossorigin="anonymous"></script>
        </div>
    </body>
</html>
