{% extends 'base.html' %}
{% block title %}Iris dataset{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        td, th {
            vertical-align: middle !important;
            text-align: center;
        }
        body {
            background-color: aquamarine;
        }
        th {
            border-radius: 10px;
        }
    </style>
{% endblock %}
{% block container %}
    {{ super() }}
    <a href="{{ url_for('table.add') }}" class="btn btn-dark btn-lg">Add record</a>
    <a href="{{ url_for('table.predict') }}" class="btn btn-dark btn-lg">Predict iris species</a>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Sepal length (cm)</th>
                            <th>Sepal width (cm)</th>
                            <th>Petal length (cm)</th>
                            <th>Petal width (cm)</th>
                            <th>Species</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for el in irises %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ el.sepal_length }}</td>
                                <td>{{ el.sepal_width }}</td>
                                <td>{{ el.petal_length }}</td>
                                <td>{{ el.petal_width }}</td>
                                <td>{{ el.species_id }}</td>
                                <td>
                                    <form action="{{ url_for('table.delete', record_id=el.id) }}" method="post">
                                        <button type="submit" class="btn btn-danger">X</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
